# Docker Compose Configuration
COMPOSE_PROJECT_NAME=artificial_intelligence_project

# Airflow Configuration
AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=.
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin

# PostgreSQL Configuration
POSTGRES_USER=ai_admin
POSTGRES_PASSWORD=ai_admin
POSTGRES_DB=ai_project

# Ambient Weather API
API_KEY=
APP_KEY=

# PurpleAir API
PURPLEAIR_API_KEY=
PURPLEAIR_SENSOR_ID=